build

src/CommonAssemblyInfo.cs
src/CommonVersionInfo.h

src/Spark.suo
src/Spark.sln.cache
src/_ReSharper.Spark
src/*/bin
src/*/obj

src/Tools/Tools.suo
src/Tools/Tools.sln.cache
src/Tools/*/bin
src/Tools/*/obj

src/Tools/SparkLanguagePackage/*_i.c
src/Tools/SparkLanguagePackage/*_i.h
src/Tools/SparkLanguagePackage/*_p.c
src/Tools/SparkLanguagePackage/packageloadkey.h
