<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="54ea3527-a911-46d7-9d96-50cd08ab06e3"
           Name="Spark View Engine"
           Language="1033"
           Version="1.0.1.0"
           Manufacturer="Spark View Engine"
           UpgradeCode="e88ebd0d-3b9d-4a3f-8375-d944b77db5d5">
    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <?define VisualStudioRegistryRoot = "Software\Microsoft\VisualStudio\9.0" ?>

    <!-- Properties -->
    <Property Id="DEVENV_EXE_PATH">
      <RegistrySearch Id="RegSearch_DevenvExe_Path" Root="HKLM" Key="$(var.VisualStudioRegistryRoot)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>



    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="Spark">
          <Component Id="SparkLanguagePackage.dll" Guid="8ace6d30-38e4-4566-8652-02be3f266a0c">
            <File Id="SparkLanguagePackage.dll" Name="SparkLanguagePackage.dll" Source="..\SparkLanguagePackage\bin\Retail\SparkLanguagePackage.dll" Vital="yes" />
            <File Id="SparkLanguagePackage.pdb" Name="SparkLanguagePackage.pdb" Source="..\SparkLanguagePackage\bin\Retail\SparkLanguagePackage.pdb" Vital="yes" />
            <?include vs2008.wxi ?>
          </Component>
          <Component Id="SparkLanguage.dll" Guid="8ace6d31-38e4-4566-8652-02be3f266a0c">
            <File Id="SparkLanguage.dll" Name="SparkLanguage.dll" Source="..\SparkLanguagePackage\bin\Retail\SparkLanguage.dll" Vital="yes"/>
            <File Id="SparkLanguage.pdb" Name="SparkLanguage.pdb" Source="..\SparkLanguagePackage\bin\Retail\SparkLanguage.pdb" Vital="yes"/>
          </Component>
          <Component Id="Spark.dll" Guid="8ace6d32-38e4-4566-8652-02be3f266a0c">
            <File Id="Spark.dll" Name="Spark.dll" Source="..\SparkLanguagePackage\bin\Retail\Spark.dll" Vital="yes"/>
            <File Id="Spark.pdb" Name="Spark.pdb" Source="..\SparkLanguagePackage\bin\Retail\Spark.pdb" Vital="yes"/>
          </Component>
          <Component Id="Interop.SparkLanguagePackageLib.dll" Guid="8ace6d33-38e4-4566-8652-02be3f266a0c">
            <File Id="Interop.SparkLanguagePackageLib.dll" Name="Interop.SparkLanguagePackageLib.dll" Source="..\SparkLanguagePackage\bin\Retail\Interop.SparkLanguagePackageLib.dll" Vital="yes"/>
          </Component>
          <Directory Id="Language1033" Name="1033">
            <Component Id="SparkLanguagePackageUI.dll" Guid="8ace6d34-38e4-4566-8652-02be3f266a0c">
              <File Id="SparkLanguagePackageUI.dll" Name="SparkLanguagePackageUI.dll" Source="..\SparkLanguagePackage\bin\Retail\1033\SparkLanguagePackageUI.dll" Vital="yes"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Spark" Level="1">
      <ComponentRef Id="SparkLanguagePackage.dll" />
      <ComponentRef Id="SparkLanguage.dll" />
      <ComponentRef Id="Spark.dll" />
      <ComponentRef Id="Interop.SparkLanguagePackageLib.dll" />
      <ComponentRef Id="SparkLanguagePackageUI.dll" />
    </Feature>
  </Product>
</Wix>
