<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?if "$(var.ProductVersion)" = "" ?>
  <?undef ProductVersion ?>
  <?define ProductVersion = "1.0.2.3" ?>
  <?endif ?>
  
  <?define VisualStudioRegistryRoot = "Software\Microsoft\VisualStudio\9.0" ?>

  <Product Id="*"
           Name="Spark View Engine"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="Spark View Engine"
           UpgradeCode="e88ebd0d-3b9d-4a3f-8375-d944b77db5d5">
    <Package InstallerVersion="200" Compressed="yes" />

    <Upgrade Id="e88ebd0d-3b9d-4a3f-8375-d944b77db5d5">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED"/>
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED"/>
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />


    <!-- Properties -->
    <Property Id="DEVENV_EXE_PATH">
      <RegistrySearch Id="RegSearch_DevenvExe_Path" Root="HKLM" Key="$(var.VisualStudioRegistryRoot)\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>

    <!-- Launch conditions -->
    <Condition Message="An administrator must approve or install [ProductName]."> Privileged </Condition>
    <Condition Message="[ProductName] requires Visual Studio 2008."> DEVENV_EXE_PATH </Condition>

    <?define SparkLanguagePackage.ProjectName = "SparkLanguagePackage" ?>
    <?define SparkLanguagePackage.TargetDir = "$(var.SolutionDir)\$(var.SparkLanguagePackage.ProjectName)\bin\$(var.Configuration)\" ?>
    <?define SparkLanguagePackage.TargetFileName = "$(var.SparkLanguagePackage.ProjectName).dll" ?>
    <?define SparkLanguagePackage.TargetPath = "$(var.SparkLanguagePackage.TargetDir)$(var.SparkLanguagePackage.TargetFileName)" ?>

    <?define SparkLanguagePackageUI.ProjectName = "SparkLanguagePackageUI" ?>
    <?define SparkLanguagePackageUI.TargetDir = "$(var.SparkLanguagePackage.TargetDir)1033\" ?>
    <?define SparkLanguagePackageUI.TargetFileName = "$(var.SparkLanguagePackageUI.ProjectName).dll" ?>
    <?define SparkLanguagePackageUI.TargetPath = "$(var.SparkLanguagePackageUI.TargetDir)$(var.SparkLanguagePackageUI.TargetFileName)" ?>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">

        <Directory Id="INSTALLLOCATION" Name="Spark">
          <Component Id="SparkLanguagePackage.dll" Guid="8ace6d30-38e4-4566-8652-02be3f266a0c">
            <File Id="SparkLanguagePackage.dll" Name="$(var.SparkLanguagePackage.TargetFileName)" Source="$(var.SparkLanguagePackage.TargetPath)" />
            <?include vs2008.wxi ?>
          </Component>
          <Component Id="SparkLanguage.dll" Guid="8ace6d31-38e4-4566-8652-02be3f266a0c">
            <File Id="SparkLanguage.dll" Name="$(var.SparkLanguage.TargetFileName)" Source="$(var.SparkLanguage.TargetPath)"/>
          </Component>
          <Component Id="Interop.SparkLanguagePackageLib.dll" Guid="8ace6d33-38e4-4566-8652-02be3f266a0c">
            <File Id="Interop.SparkLanguagePackageLib.dll" Name="Interop.SparkLanguagePackageLib.dll"
                  Source="$(var.SparkLanguage.TargetDir)\Interop.SparkLanguagePackageLib.dll"/>
          </Component>
          <Component Id="Spark.dll" Guid="8ace6d32-38e4-4566-8652-02be3f266a0c">
            <File Id="Spark.dll" Name="$(var.Spark.TargetFileName)" Source="$(var.Spark.TargetPath)"/>
          </Component>
          <Directory Id="Language1033" Name="1033">
            <Component Id="SparkLanguagePackageUI.dll" Guid="8ace6d34-38e4-4566-8652-02be3f266a0c">
              <File Id="SparkLanguagePackageUI.dll" Name="$(var.SparkLanguagePackageUI.TargetFileName)" Source="$(var.SparkLanguagePackageUI.TargetPath)"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Spark" Level="1">
      <ComponentRef Id="SparkLanguagePackage.dll" />
      <ComponentRef Id="SparkLanguage.dll" />
      <ComponentRef Id="Spark.dll" />
      <ComponentRef Id="Interop.SparkLanguagePackageLib.dll" />
      <ComponentRef Id="SparkLanguagePackageUI.dll" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="CA_DeployPackage" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <CustomAction Id="CA_DeployPackage" Property="DEVENV_EXE_PATH" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />

  </Product>
</Wix>
