body
{
	font-family:Verdana;
}

#header
{
	background-color:#eeeeee;
	border:solid 1px #999999;
	margin:10px 0 10px 0;
}

#header p
{
	margin:0;
}

#footer
{
	background-color:#eeeeee;
	border:solid 1px #999999;
	margin:10px 0 10px 0;
}

#footer p
{
	margin:0;
}
