ul
{
	border: 0;
	margin: 0;
	padding: 0;
}

#pagination-flickr li
{
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	list-style: none;
}
#pagination-flickr a
{
	border: solid 1px #DDDDDD;
	margin-right: 2px;
}
#pagination-flickr .previous-off, #pagination-flickr .next-off
{
	color: #666666;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}
#pagination-flickr .next a, #pagination-flickr .previous a
{
	font-weight: bold;
	border: solid 1px #FFFFFF;
}
#pagination-flickr .active
{
	color: #ff0084;
	font-weight: bold;
	display: block;
	float: left;
	padding: 4px 6px;
}
#pagination-flickr a:link, #pagination-flickr a:visited
{
	color: #0063e3;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}
#pagination-flickr a:hover
{
	border: solid 1px #666666;
}
